.theme-container.base {
    font-size: 15px;

    .example {
        color: #41b883;
    }
    hr {
        border-top: 4px solid #eaecef;
    }
    code {
        background-color: rgba(154, 239, 200, 0.122);
    }
    .sidebar-sub-headers a.sidebar-link {
        font-size: 12px;
        // color: #15670ecc;
        color: rgba(228, 49, 14, 0.8)
    }
    .sidebar-sub-headers a.sidebar-link.active {
        font-weight: 800;
        background: #e5e5e53b;
    }
}
